@import "./settings.scss";
@import "./components/navigation.scss";
@import "./components/logo.scss";
@import "./components/card.scss";
@import "./components/countries.scss";
@import "./components/notFound.scss";
@import "./pages/news.scss";
@import "./components/article.scss";